[Desktop Entry]
Name=Telnet
Type=Application
Comment=Client to connect to remote machines via a text interface
Comment[pl]=Klient us³ugi telnet
Exec=telnet
Icon=telnet.xpm
Terminal=true
